* {
    font-family: 'Outfit';
}
html{
    font-size: 1.5vw;
}
body{
    position: relative;
    margin: 0;
    padding: 0;
}
.bg-pattern{
    position: absolute;
    top: 0;
    right: 0;
    width: 34%;
    height: auto;
    z-index: 0;
}
.navbar{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    height: 4.8vw;
    position: relative;
}
.navbar-logo{
    display: flex;
    align-items: center;
}
.navbar-logo img{
    width: 2.8rem;
}
.navbar-menu{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 0.8rem;
}
.navbar-menu ul{
    display: flex;
    padding: 0;
    list-style: none;
    gap: 3rem;
    margin-right: 12rem;
}
.navbar-menu a{
    text-decoration: none;
    color: #2C2D42;
}
.navbar-menu hr{
    margin: .1rem 0 0 0;
    border: 1px #2C2D42 solid;
    visibility: hidden;
}
.homepage-active{
    visibility: visible !important;
}
.navbar-social{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar-social a{
    display: flex;
    align-items: center;
    text-decoration: none;
}


.container-main{
    display: grid;
    width: auto;
    height: 50vw;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    'deskripsi graphic'
    'project empty';
    position: relative;
    margin: 0 5rem;
}
.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
}


.description{
    grid-area: deskripsi;
    display: flex;
    align-items: start;
    flex-direction: column;
    color: #2C2D42;
}
.description p{
    margin: 0;
}
.graphic{
    grid-area: graphic;
}

.greeting{
    font-size: 1rem;
    font-weight: 600;
}
.name{
    font-size: 3.2rem;
    font-weight: 700;
}
.introduction{
    font-size: 1.6rem;
    font-weight: 600;
}
.doing{
    font-size: .75rem;
    font-weight: 600;
    width: 75%;
}
.btn{
    margin-top: 1rem;
    font-size: .7rem;
    font-weight: 600;
    color: white;
    background-color: #2C2D42;
    padding: 1em 2em;
    border-radius: .5em;
    border: none;
}
.graphic img{
    max-width: 100%;
}


.project{
    grid-area: project;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: 
    'head head head'
    'project1 project2 project3'
    'more more more';
    margin-bottom: 2rem;
}
.project-items{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: .7rem;
    border: .12rem #2C2D42 solid;
    padding: .7em 1em;
    box-shadow: .2em .2em 0 #2C2D42;
    background-color: white;
    font-size: .75rem;
    font-weight: 500;
    cursor: pointer;
}
.project-items img {
    display: flex;
    flex-direction: column;
    width: 3.5rem;
    height: 1rem;
    margin-top: .5rem;
}
.project-head{
    grid-area: head;
    font-size: .9rem;
    font-weight: 700;
}
.project1{
    grid-area: project1;
}
.project2{
    grid-area: project2;
}
.project3{
    grid-area: project3;
}
.more {
    grid-area: more;
    font-size: .8rem;
    font-weight: 500;
}
.project p{
    margin: 0;
}
.feature-cont{
    display: flex;
    justify-content: end;
    bottom: 0;
    gap: .3rem;
    margin-top: 1rem;
}
.project-feature{
    font-size: .6rem;
    font-weight: 400;
    border: .1rem #2C2D42 solid;
    border-radius: .3em;
    padding: .15em .5em;
}