* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Outfit";
  font-size: 16px;
  overflow-x: hidden;
}
.bg-pattern {
  width: 34%;
}

/* ==============================
================================= */

/* Content */

/* Hero */
.container-main {
  display: grid;
  width: auto;
  height: 50vw;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "deskripsi graphic"
    "project project";
  position: relative;
  margin: 0 70px;
  padding-top: 2.5rem;
  gap: 30px;
  z-index: -1;
}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  grid-area: deskripsi;
  display: flex;
  align-items: start;
  flex-direction: column;
  color: #2c2d42;
}
.description p {
  margin: 0;
}
.graphic {
  grid-area: graphic;
  justify-self: start;
}

.greeting {
  font-size: 1.5rem;
  font-weight: 600;
}
.name {
  font-size: 4rem;
  font-weight: 700;
}
.introduction {
  font-size: 2rem;
  font-weight: 600;
}
.doing {
  margin-top: 5px !important;
  font-size: 0.9rem;
  font-weight: 600;
  width: 75%;
}
.btn {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-family: "Outfit";
  font-weight: 500;
  color: white;
  background-color: #2c2d42;
  padding: 1em 2em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
}
.graphic img {
  max-width: 100%;
}

/* Project */
.project {
  grid-area: project;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-bottom: 20px;
}
.project-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 15px;
}
.project-items {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 110px;
  box-sizing: border-box;
  border-radius: 0.7rem;
  border: 0.12rem #2c2d42 solid;
  padding: 0.7em 1em;
  box-shadow: 0.2em 0.2em 0 #2c2d42;
  background-color: white;
  font-size: 0.75rem;
  font-weight: 500;
  cursor: pointer;
}
.project-items img {
  display: flex;
  flex-direction: column;
  width: 3.5rem;
  height: 1rem;
  margin-top: 0.5rem;
}
.project-head {
  grid-area: head;
  font-size: 0.9rem;
  font-weight: 700;
}
.more {
  grid-area: more;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}
.project p {
  margin: 0;
}
.feature-cont {
  display: flex;
  justify-content: end;
  bottom: 0;
  gap: 0.3rem;
  margin-top: 1rem;
}
.project-feature {
  font-size: 0.6rem;
  font-weight: 400;
  border: 0.1rem #2c2d42 solid;
  border-radius: 0.3em;
  padding: 0.15em 0.5em;
}

/* ==============================
================================= */

/* Events Efek  */

/* ==============================
================================= */

/* Responsive*/

/*Tab < 768px */
@media only screen and (max-width: 768px) {
  .bg-pattern {
    width: 50%;
  }
  .navbar-social {
    display: none;
  }
  .container-main {
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
      "deskripsi graphic"
      "project project";
    position: relative;
    margin: 0 70px;
    padding-top: 2.5rem;
    row-gap: 30px;
  }
  .greeting {
    font-size: 1.5rem;
  }
  .name {
    line-height: 40px;
    font-size: 2.7rem;
  }
  .introduction {
    margin-top: 10px !important;
    font-size: 1.4rem;
  }
  .doing {
    margin-top: 4px !important;
    width: auto;
    font-size: 0.75rem;
  }
  .btn {
    font-size: 0.75rem;
  }
  .bg {
    display: none;
  }
}

/*Phone < 576px */
@media only screen and (max-width: 576px) {
  .bg-pattern {
    width: 65%;
  }
  .navbar {
    padding: 0 20px;
  }

  .ham-bar {
    display: block;
  }

  /* content */
  .container-main {
    display: grid;
    width: auto;
    grid-template-areas:
      "graphic"
      "deskripsi"
      "project"
      "empty";
    grid-template-columns: minmax(100px, 100%);
    grid-template-rows: repeat(4, 1fr);
    position: relative;
    margin: 0 20px;
    padding: 0;
    gap: 20px;
  }
  .project {
    align-items: center;
  }
  .project-container {
    place-content: center;
  }
}
