/* Navigatioin Bar */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 4rem;
  font-weight: 600;
  padding: 0 70px;
}
.navbar-logo {
  display: flex;
  place-items: center;
}
.navbar-logo img {
  width: 3.5rem;
}
.navbar-menu {
  justify-self: start;
}
.navbar-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 3em;
}
.navbar-menu li {
  display: flex;
  flex-direction: column;
  place-content: center;
  color: #2c2d42;
  text-align: center;
}
.navbar-menu a {
  text-decoration: none;
  color: #2c2d42;
}
.navbar-menu hr {
  margin-top: 2px;
  border: 1.5px #2c2d42 solid;
  visibility: hidden;
}
.navbar-social {
  display: flex;
  gap: 20px;
}
.navbar-social a {
  text-decoration: none;
  display: flex;
  place-items: center;
  color: #2c2d42;
}
.ham-bar {
  display: none;
}

/* Hamburger Menu */
#checkbox2 {
  display: none;
}
.toggle2 {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition-duration: 0.5s;
}
.bars {
  width: 100%;
  height: 3px;
  background-color: #2c2d42;
  border-radius: 4px;
  border: none;
}
#bar5 {
  transition-duration: 0.8s;
}
#bar4,
#bar6 {
  width: 80%;
}
#checkbox2:checked + .toggle2 .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox2:checked + .toggle2 #bar5 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox2:checked + .toggle2 #bar4 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox2:checked + .toggle2 #bar6 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox2:checked + .toggle2 {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

/* Event Efek */
.navbar-menu hr.nav-active {
  visibility: visible !important;
}
.navbar-menu a:hover {
  color: #8c8d9c;
}
.navbar-social a:hover {
  color: #8c8d9c !important;
}

/* responsive */

@media only screen and (max-width: 768px) {
  .navbar-social {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .navbar {
    padding: 0 20px;
  }

  .ham-bar {
    display: block;
  }
  .navbar-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    top: 0;
    right: 0;
    z-index: 0;
    background-color: transparent;
    transition: all 0.5s;
    transform: translateX(100%);
  }
  .about-active hr {
    display: none !important;
  }
  .about-active a {
    color: #8c8d9c;
  }
  .navbar-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    gap: 1rem;
    margin-top: 4rem;
    padding-top: 1rem;
  }
  .navbar-menu a {
    display: block;
    width: 100px;
    height: 3x;
    text-align: center;
  }
  .navbar-menu.active {
    right: 0;
    transform: translateX(0);
  }
}
